*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0.3rem;
  border: solid 1px rgba(255, 255, 255, 0.479);
  box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  -webkit-box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  -moz-box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
}
h1 {
  margin: 1.5rem 0 3rem 0;
  font-size: 2.5rem;
}
form {
  display: flex;
  flex-direction: row;
}
.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.container-size,
.container-weight {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#size {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#weight {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
input {
  height: 3rem;
  width: 100%;
  box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  -webkit-box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  -moz-box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.2rem;
}
span {
  font-weight: 300;
}
button {
  height: 2.8rem;
  width: 60%;
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;
  background-color: rgb(255, 193, 79);
  font-size: 1.2rem;
  box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  -webkit-box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  -moz-box-shadow: 1px 8px 11px -1px rgba(43, 35, 35, 0.73);
  margin-bottom: 3rem;
}
button:active {
  background-color: black;
  color: rgb(255, 193, 79);
}
.result {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.text-result {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
  main {
    width: 80%;
  }
  form {
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  main {
    width: 85%;
    height: 20%;
  }
  form {
    flex-direction: row;
  }
  .container-input {
    flex-direction: row;
  }
  .container-size {
    margin-right: 1.5rem;
  }
  button {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  main {
    width: 60%;
    height: 20%;
  }
}
